.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  width: 300px;
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___health-bar {
  height: 100%;
  width: 100%;

  background: rgb(255,141,141);
  background: linear-gradient(90deg, rgba(255,141,141,1) 0%, rgba(255,81,81,1) 50%, rgba(255,0,14,1) 100%);
}

.arena___cool-indicator {
  width: 100%;
  height: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px 10px;
  overflow: hidden;
}

.arena___cool-bar{
  height: 100%;
  width: 100%;
  background: rgb(29,47,134);
  background: linear-gradient(to right, rgba(0,223,255,1) 0%, rgba(37,79,255,1) 50%, rgba(29,47,134,1) 100%);
}

#right-fighter-indicator{
  float: right;

  background: rgb(255,141,141);
  background: linear-gradient(90deg, rgba(255,0,14,1) 0%, rgba(255,81,81,1) 50%, rgba(255,141,141,1) 100%);
}

#right-fighter-coolDown{
  float: right;
  background: rgb(29,47,134);
  background: linear-gradient(to right, rgba(29,47,134,1) 0%, rgba(37,79,255,1) 50%, rgba(0,223,255,1) 100%);
}

.arena___keys-indicator{
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.arena___keys-attack, .arena___keys-defense, .arena___keys-spec{
  background: rgba(1,1,1,0.8);
  border-radius: 5px;
}

.arena___keys-attack, .arena___keys-defense, .arena___keys-spec{
  display: flex;
  justify-content: space-between;
  padding: 7px 7px 3px 7px;
}

.fighter-arena___keys-attackImg, .fighter-arena___keys-defenseImg, .fighter-arena___keys-specImg{
  width: 25px;
  height: 25px;
}

.arena___keys-attackText, .arena___keys-defenseText, .arena___keys-specText{
  font-size: 20px;
  padding: 3px 2px 5px 2px;
  font-weight: normal;
  color: rgba(255,255,255,0.8);
}
